@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if(User.Identity.IsAuthenticated) {
        
        var twoFactor = ViewData["TwoFactorEnabled"];
        if(twoFactor !=null & twoFactor.ToString().ToLower() == "true") {
            <a asp-action="RemoveAuthenticator" asp-controller="Account" class="btn btn-warning">Reset and Remove Two Factor Auth</a>
        } else {
            <a asp-action="EnableAuthenticator" asp-controller="Account">Set Up Two Factor Auth</a>
        }
    
        <br/><br/>

        @if(User.IsInRole("Admin")) {
            <h2>Your Role is - Admin</h2>
        } 
        else {
            <h2>Your Role is - Single User</h2>
        }
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
